<div class="container">
  <p>
    <%= link_to("本を探す","https://70712019.localtunnel.me")%>
    ＞
    <%= link_to("検索条件を指定する","http://localbi17063.localtunnel.me/Ybooks/public/")%>
    ＞
    <%= link_to("検索結果一覧","https://bi70712068.localtunnel.me/home/result")%>
    ＞
    <%= link_to("商品詳細","https://bi70712068.localtunnel.me/home/detail/#{@book.isbn}")%>
    ＞
    <%= link_to("店内地図","")%>
  </p>
  <img src = "/map2.jpg" alt = "まっぷ" height="440"/>
</div>
